{# Parametre sekme başlıkları #}

<div class="tpl-param-tabs">
  <button type="button"
          class="tpl-param-tab is-active"
          data-tab="layout">
    Layout
  </button>
  <button type="button"
          class="tpl-param-tab"
          data-tab="shape">
    Şekil
  </button>
  <button type="button"
          class="tpl-param-tab"
          data-tab="icon">
    İkon
  </button>
  <button type="button"
          class="tpl-param-tab"
          data-tab="stars">
    Yıldız
  </button>
  <button type="button"
          class="tpl-param-tab"
          data-tab="platform">
    Platform
  </button>
  <button type="button"
          class="tpl-param-tab"
          data-tab="effects">
    Efekt
  </button>
  <button type="button"
          class="tpl-param-tab"
          data-tab="raw">
    Ham JSON
  </button>
</div>
