#footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--footer-height);

    background: var(--layout_footer_bg);
    color: var(--layout_footer_text);

    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid rgba(0, 0, 0, 0.4);
    z-index: 950;
    font-family: var(--font_body_font, Inter);
}
